@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-950 text-white font-sans m-0 p-0;
  }
}

/* Custom scrollbars */
.hide-scroll-bar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
